<p>ajouter-reservation works!</p>
<div class="center">
    <form [formGroup]="formReservation">
        <mat-form-field>
            <mat-label for="nomClient">Nom du client</mat-label>
            <input matInput type="text" formControlName="nomClient">
        </mat-form-field>
        <mat-form-field>
            <mat-label for="emailClient">Email du client</mat-label>
            <input matInput type="text" formControlName="emailClient">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label for="numTelephoneClient">Numero de téléphone du client</mat-label>
            <input matInput type="text" formControlName="numTelephoneClient">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label for="idJeuReserve">Nom du jeu</mat-label>
            <mat-select formControlName="idJeuReserve">
                @for(jeu of listeJeux; track jeu.id){
                <mat-option [value]="jeu.id">{{jeu.titre}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <br>
    </form>
    <br>
</div>