@if(listReservations){
<div>
    @for(reservation of listReservations; track $index){
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>Réservation n° {{reservation.idReservation}}</mat-grid-tile>
        <mat-grid-tile>Réservation n° {{reservation.idReservation}}</mat-grid-tile>
        <mat-grid-tile>Réservation n° {{reservation.idReservation}}</mat-grid-tile>
        <mat-grid-tile>Réservation n° {{reservation.idReservation}}</mat-grid-tile>
    </mat-grid-list>
    }
</div>
}