:root {
  --border-custom-color: #700081;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* espace entre les colonnes */
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-border-card {
  border: 2px solid #6d00a0; /* Couleur personnalisable */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(63, 81, 181, 0.2); /* Ombre douce (facultatif) */
}
