@if(listReservations){
<div><mat-grid-list cols="1" rowHeight="2:1">
        N° de réservation
        Nom client
        Date de reservation
        Statut
        Jeu réservé
        Plateforme
        @for(reservation of listReservations; track $index){
        <p>



            {{reservation.id}}


            {{reservation.nomClient}}
            {{reservation.dateDeReservation | date:'dd/MM/yyyy'}}
            {{reservation.statutReservation}}
            {{reservation.titreJeuReserve}}
            {{reservation.plateforme}}
        </p>
        <button mat-raised-button color="primary" (click)="editreservation(reservation.id)">Modifier</button>
        <button mat-raised-button color="warn" (click)="onDeleteReservation(reservation.id)">Supprimer</button>



        }
    </mat-grid-list>

</div>
}
<br>
<button mat-raised-button color="primary" (click)="addReservation()">Ajouter une réservation</button>
<!--- -->