@if(listJeux){
        <div>
            <mat-grid-list cols="2" rowHeight="2:1">
                @for(jeu of listJeux; track jeu.id){
                <mat-grid-tile>
                    <mat-card class="center custom-border-card">
                        <mat-card-title>
                            n° {{jeu.id}}
                        </mat-card-title>
                        <mat-card-content>
                            <p>Titre du jeu : {{jeu.titre}}</p>
                            <p>Plateforme : {{jeu.plateforme }}</p>
                            <p> Genre : {{jeu.genre}}</p>
                            <p>Developpeur : {{jeu.developpeur}}</p>
                            <p>Date de sortie : {{jeu.dateSortie | date:'dd/MM/yyyy'}}</p>
                            <p> Stock : {{jeu.stock}}</p>   
                        </mat-card-content>
                        <br>
                        <mat-card-footer>
                            <button mat-raised-button color="primary"
                                (click)="editJeu(jeu.id)">Modifier</button>
                            <button mat-raised-button color="warn"
                                (click)="deleteJeu(jeu.id)">Supprimer</button>
                        </mat-card-footer>
                    </mat-card>
                </mat-grid-tile>
                }
            </mat-grid-list>
            <div class="center">
                <button mat-raised-button color="primary" (click)="addJeu()">Ajouter une réservation</button>
            </div>
        </div>
        }
        <!--- -->

